{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New QSL {% endblock %}</h1>

    <form method="POST" action="/">
        {{ form.csrf_token }}
        <p>
            {{ form.callsign.label }}
            {{ form.callsign(size=10) }}
        </p>
        
        {% if form.callsign.errors %}
            <ul class="errors">
                {% for error in form.callsign.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.qsldate.label }}
            {{ form.qsldate(size=14) }}
        </p>
        
        {% if form.qsldate.errors %}
            <ul class="errors">
                {% for error in form.qsldate.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.qsltimehh.label }}
            {{ form.qsltimehh(size=2) }}
    

        {% if form.qsltimehh.errors %}
            <ul class="errors">
                {% for error in form.qsltimehh.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

          {{ form.qsltimemm.label }}
          {{ form.qsltimemm(size=2) }}
        </p>
            
        {% if form.qsltimemm.errors %}
            <ul class="errors">
                {% for error in form.qsltimemm.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.qslmode.label }}
            {{ form.qslmode(size=3) }}
        </p>
        
        {% if form.qslmode.errors %}
            <ul class="errors">
                {% for error in form.qslmode.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <input type="submit" value="Add">
            <input type="reset" value="Reset">
        </p>

    </form>

{% endblock %}