{% extends 'base.html' %}

{% block content %}
    <center>
    <h3><i>{% block title %} {{ message }} {% endblock %}</i></h3>
    </center>
    
    {% for qsl in qslinfo %}
        {% if qsl %}
            <H5> Call: {{ qsl['callsign'] }} | QSL Date: {{ qsl['qsldate'] }} | QSL Time: {{ qsl['qsltimehh'] }}:{{ qsl['qsltimemm'] }} | QSL Mode: {{ qsl['qslmode'] }} 
            </H5>
        {% endif %}
        
    {% endfor %}

    {{ userinfo }}
  <br></br>
    <form action="{{ url_for('process') }}">
        <button type="submit" name="action" value="submit">Accept</button>
        <button type="submit" name="action" value="reject">Reject</button>
    </form>

{% endblock %}

{{ qslinfo }}