{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>Input Your QSL Information</h1>
<!--
https://www.youtube.com/watch?v=Rxp3mkg2mRQ&ab_channel=Codemy.com 5.44
-->
<br></br>
<form action="/showhaminfo" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" id="InputCallSign" aria-descridbeby="CallHelp" placeholder="callsign" name='callsign'>
  </div>
   <div class="form-group">
    <input type="text" class="form-control" id="InputName" aria-describedby="NameHelp" placeholder="Full Name" name='full_name'>
  </div>
    <div class="form-group">
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"placeholder="Email Address" name='email'>
   </div>
 
   <button type="submit" class="btn btn-secondary">Sign in</button>
</form>
{% endblock %}
</body>
</html>